---
title: Специальное предложение для участников мастер-класса “ТРЕУГОЛЬНИК БАЛАНСА”
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}

<div class="pack">
	<div class="inner">
		<div class="pack__content">
			<div class="pack__borderShadow"></div>
			<div class="pack__body">
				<ul>
					<li class="pack__status">
						<ul>
							<li>
								<div class="status status_silver">
									<small>Пакет</small>
									<span class="status__position">Silver</span>
									<span class="status__text">Электронный мозг
									+ Коучинг "Пылесос"</span>
								</div>
							</li>
							<li>
								<div class="status status_gold">
									<small>Пакет</small>
									<span class="status__position">Gold</span>
									<span class="status__text">Электронный мозг + Коучинг "Пылесос" + GPS Lite</span>
								</div>
							</li>
							<li>
								<div class="status status_plat">
									<small>Пакет</small>
									<span class="status__position">Platinum</span>
									<span class="status__text">Электронный мозг + Коучинг "Пылесос" + GPS Gold</span>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<p>3-недельная онлайн программа «Система сверх продуктивности через Электронный мозг»</p>
						<ul>
							<li><strong>ДА</strong></li>
							<li><strong>ДА</strong></li>
							<li><strong>ДА</strong></li>
						</ul>
					</li>
					<li>
						<p>Бонус "Система Стратегического Планирования Года" - система планирования целей и проектов на год от моих наставников миллионеров (обычная цена 97$)</p>
						<ul>
							<li><strong>ДА</strong></li>
							<li><strong>ДА</strong></li>
							<li><strong>ДА</strong></li>
						</ul>
					</li>
					<li>
						<p>Бонус 1 "Экстремальное Тело - Старт" - готовая система тренировок для получения красивого здорового тела всего за 23 минуты тренировок в день в домашних условиях (обычная цена 37$)</p>

						<ul>
							<li><strong>ДА</strong></li>
							<li><strong>ДА</strong></li>
							<li><strong>ДА</strong></li>
						</ul>
					</li>
					<li>
						<p>Индивидуальная работа с коучем по методике «Пылесос»</p>
						<ul>
							<li><strong>1 сессия</strong></li>
							<li><strong>1 сессия</strong></li>
							<li><strong>1 сессия</strong></li>
						</ul>
					</li>
					<li>
						<p>Работа с Иваном Зимбицким в закрытом сообществе в  формате «Вопрос-Ответ»</p>
						<ul>
							<li><strong>ДА</strong></li>
							<li><strong>6 месяцев <em>(обычная цена 1497$)</em></strong></li>
							<li><strong>6 месяцев <em>(обычная цена 1497$)</em></strong></li>
						</ul>
					</li>
					<li>
						<p>Доступ к библиотеке материалов по Стратегическому развитию бизнеса «Система Бизнес-Роста»</p>
						<ul>
							<li><strong>ДА</strong></li>
							<li><strong>6 месяцев <em>(обычная цена 597$)</em></strong></li>
							<li><strong>6 месяцев <em>(обычная цена 597$)</em></strong></li>
						</ul>
					</li>
					<li>
						<p>Билеты на конференцию-воркшоп от GoldCoach «Привлечение 10Х» (Москва, Киев, Питер, Одесса, Харьков...)</p>
						<ul>
							<li><strong>-</strong></li>
							<li><strong>1 билет <em>(обычная цена 197$)</em></strong></li>
							<li><strong>4 билета <em>(обычная цена 788$)</em></strong></li>
						</ul>
					</li>
					<li>
						<p>Индивидуальная работа с сертифицированным коучем экспертом</p>
						<ul>
							<li><strong>-</strong></li>
							<li><strong>-</strong></li>
							<li><strong>10 сессий <em>(обычная цена 1697$)</em></strong></li>
						</ul>
					</li>
					<li>
						<p>Бонус: Доступ к маркетинговым чек-листам и пошаговым видео инструкциям Marketing Plan Club (для быстрого делегирования и контроля задач)</p>
						<ul>
							<li><strong>1 месяц</strong></li>
							<li><strong>3 месяца</strong></li>
							<li><strong>6 месяцев <em> (обычная цена 102$)</em></strong></li>
						</ul>
					</li>

					<li>
						<p></p>
						<ul>
							<li>
								<strong>Специальная цена: </strong>
								<p><span>281$ </span> <em>47$</em></p>
							</li>
							<li>
								<strong>Специальная цена: </strong>
								<p><span>2291$ </span> <em>497$</em></p>
							</li>
							<li>
								<strong>Специальная цена: </strong>
								<p><span>4681$ </span> <em>1697$</em></p>
							</li>
						</ul>
					</li>

					<li class="pack__box">
						<ul>
							<li>
								<div class="box box_silver"><a href="#">Купить</a></div>
							</li>
							<li>
								<div class="box box_gold"><a href="#">Купить</a></div>
							</li>
							<li>
								<div class="box box_platinum"><a href="#">Купить</a></div>
							</li>
						</ul>
					</li>


					<li class="pack__link">
						<ul>
							<li><a href="#">Читать подробнее</a></li>
							<li><a href="#">Читать подробнее</a></li>
							<li><a href="#">Читать подробнее</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- END .pack -->

<div class="sponsion">
	<div class="inner">
		<img src="img/shape-sponsion.png" alt="Гарантия" class="pic-sponsion">
		<div class="sponsion__text">
			<h3>Гарантия возврата средств но не времени.</h3>

			<p>Гарантируем вернуть вам деньги, наши услуги не превзойдут ваши ожидания. Однако мы не сможем вернуть вам сверхурочное время, которое вы проводите в офисе, а не с родными и близкими людьми. Без отстроенного баланса время так и будет утекать на: дела, задачи, проекты,...</p>
		</div>
	</div>
</div>
<!-- END .sponsion -->

<div class="authores">
	<div class="inner">
		<div class="read">
			<div class="read__col">
				<h3><span class="shape-bordered colored"><span class="shape-text">«Электронный мозг»</span></span></h3>

				<div class="read__box">
					<div class="js-read-overlay read-overlay"></div>
					<p>Трансляция 3-недельного онлайн-курса по экстремальному повышению продуктивности через Evernote с практикой и подотчетностью.Программа для предпринимателей, которые устали испытывать стресс, перегруз и хотят получить больше свободного времени, не теряя результаты в бизнесе.</p>
					<p>За 3 недели вы:</p>
					<p>Освоите 52 тактики и принципа использования электронного мозга и изучите все прикладные аспекты использования программы Evernote для </p>
					<a href="#" class="btn btn-gradient js-read-more">Читать далее</a>
				</div>
			</div>

			<div class="read__col">
				<h3><span class="shape-bordered colored"><span class="shape-text">Коучинг «Пылесос»</span></span></h3>

				<div class="read__box">
					<div class="js-read-overlay read-overlay"></div>
					<p>Уникальная методика по выгрузке мозгов и наведению порядка в информационном пространстве. Естественным образом дополняет программу «Электронный мозг».</p>
					<p>«Электронный мозг» работает с тем, что мы осознаем: дела, проекты, задачи, вещи о которых нужно помнить, решения которые необходимо принять… В нем наводится порядок, прописывается четкая структура.</p>
					<p>Методика «Пылесос» затрагивает область бессознательного, которое больше и сильнее  крошечного сознания.  Львиная доля нашего</p>
					<a href="#" class="btn btn-gradient js-read-more">Читать далее</a>
				</div>
			</div>
		</div>
		<!-- END .read -->

		<h3>Отзывы простых участников программы «Электронный Мозг»</h3>
		<div class="slider-author">
			<div class="js-slider-author">
				<div class="slider__item">
					<div class="slider__photo" style="background-image: url('img/review-photo.png');"></div>
					<div class="slider__field">
						<div class="slider__heading">
							<p class="slider__name">Артем Адырхаев</p>
						</div>
						<table>
							<thead>
								<tr>
									<td>Город: </td>
									<td>Было:</td>
									<td>Стало:</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Тверь</td>
									<td>личный доход</td>
									<td>100 000 руб</td>
								</tr>
								<tr>
									<td></td>
									<td>не считали</td>
									<td>в месяц</td>
								</tr>
							</tbody>
						</table>

						<div class="slider__quote">
							<p>  Мне нужно скинуть доступ - вот он. Нужен какой-то чек-лист - вот он. «Электронный Мозг» работает даже не как шкаф в соседней комнате. Я будто поднимаю руку, и нужная фишка прилетает сама.</p>
						</div>
					</div>
				</div>

				<div class="slider__item">
					<div class="slider__photo" style="background-image: url('img/review-photo.png');"></div>
					<div class="slider__field">
						<div class="slider__heading">
							<p class="slider__name">Артем Адырхаев</p>
						</div>
						<table>
							<thead>
								<tr>
									<td>Город: </td>
									<td>Было:</td>
									<td>Стало:</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Тверь</td>
									<td>личный доход</td>
									<td>100 000 руб</td>
								</tr>
								<tr>
									<td></td>
									<td>не считали</td>
									<td>в месяц</td>
								</tr>
							</tbody>
						</table>

						<div class="slider__quote">
							<p>  Мне нужно скинуть доступ - вот он. Нужен какой-то чек-лист - вот он. «Электронный Мозг» работает даже не как шкаф в соседней комнате. Я будто поднимаю руку, и нужная фишка прилетает сама.</p>
						</div>
					</div>
				</div>

				<div class="slider__item">
					<div class="slider__photo" style="background-image: url('img/review-photo.png');"></div>
					<div class="slider__field">
						<div class="slider__heading">
							<p class="slider__name">Артем Адырхаев</p>
						</div>
						<table>
							<thead>
								<tr>
									<td>Город: </td>
									<td>Было:</td>
									<td>Стало:</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Тверь</td>
									<td>личный доход</td>
									<td>100 000 руб</td>
								</tr>
								<tr>
									<td></td>
									<td>не считали</td>
									<td>в месяц</td>
								</tr>
							</tbody>
						</table>

						<div class="slider__quote">
							<p>  Мне нужно скинуть доступ - вот он. Нужен какой-то чек-лист - вот он. «Электронный Мозг» работает даже не как шкаф в соседней комнате. Я будто поднимаю руку, и нужная фишка прилетает сама.</p>
						</div>
					</div>
				</div>

				<div class="slider__item">
					<div class="slider__photo" style="background-image: url('img/review-photo.png');"></div>
					<div class="slider__field">
						<div class="slider__heading">
							<p class="slider__name">Артем Адырхаев</p>
						</div>
						<table>
							<thead>
								<tr>
									<td>Город: </td>
									<td>Было:</td>
									<td>Стало:</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Тверь</td>
									<td>личный доход</td>
									<td>100 000 руб</td>
								</tr>
								<tr>
									<td></td>
									<td>не считали</td>
									<td>в месяц</td>
								</tr>
							</tbody>
						</table>

						<div class="slider__quote">
							<p>  Мне нужно скинуть доступ - вот он. Нужен какой-то чек-лист - вот он. «Электронный Мозг» работает даже не как шкаф в соседней комнате. Я будто поднимаю руку, и нужная фишка прилетает сама.</p>
						</div>
					</div>
				</div>

				<div class="slider__item">
					<div class="slider__photo" style="background-image: url('img/review-photo.png');"></div>
					<div class="slider__field">
						<div class="slider__heading">
							<p class="slider__name">Артем Адырхаев</p>
						</div>
						<table>
							<thead>
								<tr>
									<td>Город: </td>
									<td>Было:</td>
									<td>Стало:</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Тверь</td>
									<td>личный доход</td>
									<td>100 000 руб</td>
								</tr>
								<tr>
									<td></td>
									<td>не считали</td>
									<td>в месяц</td>
								</tr>
							</tbody>
						</table>

						<div class="slider__quote">
							<p>  Мне нужно скинуть доступ - вот он. Нужен какой-то чек-лист - вот он. «Электронный Мозг» работает даже не как шкаф в соседней комнате. Я будто поднимаю руку, и нужная фишка прилетает сама.</p>
						</div>
					</div>
				</div>

				<div class="slider__item">
					<div class="slider__photo" style="background-image: url('img/review-photo.png');"></div>
					<div class="slider__field">
						<div class="slider__heading">
							<p class="slider__name">Артем Адырхаев</p>
						</div>
						<table>
							<thead>
								<tr>
									<td>Город: </td>
									<td>Было:</td>
									<td>Стало:</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Тверь</td>
									<td>личный доход</td>
									<td>100 000 руб</td>
								</tr>
								<tr>
									<td></td>
									<td>не считали</td>
									<td>в месяц</td>
								</tr>
							</tbody>
						</table>

						<div class="slider__quote">
							<p>  Мне нужно скинуть доступ - вот он. Нужен какой-то чек-лист - вот он. «Электронный Мозг» работает даже не как шкаф в соседней комнате. Я будто поднимаю руку, и нужная фишка прилетает сама.</p>
						</div>
					</div>
				</div>

				<div class="slider__item">
					<div class="slider__photo" style="background-image: url('img/review-photo.png');"></div>
					<div class="slider__field">
						<div class="slider__heading">
							<p class="slider__name">Артем Адырхаев</p>
						</div>
						<table>
							<thead>
								<tr>
									<td>Город: </td>
									<td>Было:</td>
									<td>Стало:</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Тверь</td>
									<td>личный доход</td>
									<td>100 000 руб</td>
								</tr>
								<tr>
									<td></td>
									<td>не считали</td>
									<td>в месяц</td>
								</tr>
							</tbody>
						</table>

						<div class="slider__quote">
							<p>  Мне нужно скинуть доступ - вот он. Нужен какой-то чек-лист - вот он. «Электронный Мозг» работает даже не как шкаф в соседней комнате. Я будто поднимаю руку, и нужная фишка прилетает сама.</p>
						</div>
					</div>
				</div>

				<div class="slider__item">
					<div class="slider__photo" style="background-image: url('img/review-photo.png');"></div>
					<div class="slider__field">
						<div class="slider__heading">
							<p class="slider__name">Артем Адырхаев</p>
						</div>
						<table>
							<thead>
								<tr>
									<td>Город: </td>
									<td>Было:</td>
									<td>Стало:</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Тверь</td>
									<td>личный доход</td>
									<td>100 000 руб</td>
								</tr>
								<tr>
									<td></td>
									<td>не считали</td>
									<td>в месяц</td>
								</tr>
							</tbody>
						</table>

						<div class="slider__quote">
							<p>  Мне нужно скинуть доступ - вот он. Нужен какой-то чек-лист - вот он. «Электронный Мозг» работает даже не как шкаф в соседней комнате. Я будто поднимаю руку, и нужная фишка прилетает сама.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="slider__counter">
				<i class="icon-prev"></i>
				<p class="js-slider-counter"></p>
				<i class="icon-next"></i>
			</div>
			<!-- END .slider__counter -->

			<div class="aside">
				<div class="aside__heading">
					<div class="aside__avatar" style="background-image: url('img/couch-photo.png');"></div>
				</div>

				<div class="aside__body">
					<p class="name">Коуч:Богдан Куринный</p>

					<p class="position">Коуч-Эксперт <br>ROI: 508,2%</p>

					<p class="main-position">Профессиональный руководитель-практик, тренер, бизнес-коуч</p>
				</div>
			</div>
			<!-- END .aside -->
		</div>
		<!-- END .slider-author -->

		<ul class="list-info">
			<li>
				<p class="title-text"><span class="shape-bordered colored"><span class="shape-text">До обучения в GoldCoach: </span></span></p>
				<ul>
					<li><p>Количество клиентов в бизнесе: 1 клиент в 2-3 месяца</p></li>
					<li><p>Количество людей в команде: 4</p></li>
					<li><p>Закрывал 2 сделки из 10</p></li>
				</ul>
			</li>
			<li>
				<p class="title-text"><span class="shape-bordered colored"><span class="shape-text">После обучения в GoldCoach:</span></span></p>
				<ul>
					<li><p>Количество клиентов в бизнесе: 30+ клиентов в месяц</p></li>
					<li><p>Количество людей в команде: 25 + 12 стажеров</p></li>
					<li><p>Закрывает в среднем 4 сделки из 10</p></li>

				</ul>
			</li>
			<li>
				<p class="title-text"><span class="shape-bordered colored"><span class="shape-text">Инсайты:</span></span></p>
				<ul>
					<li><p class="mb-2x">Считать показатели бизнеса, верить только цифрам и показателям, делать и мыслить системно - это дает колоссальный эффект для бизнеса.</p></li>
					<li><p>Делегировать - это не плохо. Если люди остаются в офисе и работают, а владелец бизнеса уезжает домой или по делам - это не «косяк» и не ошибка управления.</p></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<!-- END .authores -->

<div class="special">
	<div class="inner">
		<div class="special__items justify-center">
			<div class="special__item">
				<p class="special__title title-lg">Старт программы:<span class="shape-bordered colored"><span class="shape-text">24 апреля 2018 года.</span></span></p>
				<p class="title-theme">Коучинг будет предоставлен в рамках программы</p>
				<div class="special__box">
					<p>	Специальная цена:</p>
					<p class="text-md text-through">281$</p>
					<p class="text-lg">47$</p>

					<a href="#" class="btn btn-gradient">Купить</a>
				</div>
			</div>
		</div>
		<!-- END .special__items -->
	</div>
</div>
<!-- END .special -->

<div class="reviews">
	<div class="inner">
		<div class="read">
			<div class="read__col read-lg">
				<h3><span class="shape-bordered colored"><span class="shape-text">«GPS»</span></span></h3>

				<div class="read__box">
					<div class="js-read-overlay read-overlay"></div>
					<p>«GPS» — это коучинговая методика адаптированная под запросы современного бизнеса. <br>Прежде чем перейти к составным частям, буквально пару слов про коучинг — основание на котором все все построено. С середины 1990-х годов коучинг развился в отдельную дисциплину. На развитие коучинга влияли многие области знания, включая теорию лидерства, социальную психологию, технологии профессионального спорта, технологии бизнес тренингов… Сейчас это фундаментальная наука в которую внесли вклад тысячи людей.</p>

					<p>На такой вот мощной основе стоит 4х компонентная коучинговая методике «GPS»</p>
					<a href="#" class="btn btn-gradient js-read-more">Читать далее</a>
				</div>
			</div>
		</div>
		<!-- END .read -->
	</div>

	<h3>Отзывы простых участников программы «GPS»</h3>
	<div class="inner">
		<div class="js-slider-reviews slider-reviews">
			<div class="slider__item">
				<ul>
					<li><img src="img/review-item-00.png" alt=""></li>
					<li><img src="img/review-item-01.png" alt=""></li>
					<li><img src="img/review-item-02.png" alt=""></li>
				</ul>
			</div>

			<div class="slider__item">
				<ul>
					<li><img src="img/review-item-00.png" alt=""></li>
					<li><img src="img/review-item-01.png" alt=""></li>
					<li><img src="img/review-item-02.png" alt=""></li>
				</ul>
			</div>

			<div class="slider__item">
				<ul>
					<li><img src="img/review-item-00.png" alt=""></li>
					<li><img src="img/review-item-01.png" alt=""></li>
					<li><img src="img/review-item-02.png" alt=""></li>
				</ul>
			</div>

			<div class="slider__item">
				<ul>
					<li><img src="img/review-item-00.png" alt=""></li>
					<li><img src="img/review-item-01.png" alt=""></li>
					<li><img src="img/review-item-02.png" alt=""></li>
				</ul>
			</div>

			<div class="slider__item">
				<ul>
					<li><img src="img/review-item-00.png" alt=""></li>
					<li><img src="img/review-item-01.png" alt=""></li>
					<li><img src="img/review-item-02.png" alt=""></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="special">
	<div class="inner">
		<div class="special__items">
			<div class="special__item">
				<p class="special__title">
					<span class="shape-bordered colored"><span class="shape-text">«GPS Lite»</span></span>
				</p>

				<div class="special__box">
					<p>	Специальная цена:</p>
					<p class="text-md text-through">2291$</p>
					<p class="text-lg">497$</p>

					<a href="#" class="btn btn-gradient">Купить</a>
				</div>
			</div>

			<div class="special__item">
				<p class="special__title">
					<span class="shape-bordered colored"><span class="shape-text">«GPS Gold»</span></span>
				</p>

				<div class="special__box">
					<p>	Специальная цена:</p>
					<p class="text-md text-through">4681$</p>
					<p class="text-lg">1697$</p>

					<a href="#" class="btn btn-gradient">Купить</a>
				</div>
			</div>
		</div>
		<!-- END .special__items -->
	</div>
</div>
<!-- END .special -->

<section class="promises">
	<h2>3 твердых обещания <span>GOLDCOACH</span></h2>
	<div class="inner">
		<ul>
			<li><i class="icon-hands"></i><p><span>Новый GPS дает гарантию 300%</span> ROI на вложение - Вы отобьете Вашу инвестицию минимум в 3 раза</p></li>
			<li><i class="icon-guys"></i><p><span>Только коуч-эксперты</span> - на счету каждого коуча более 500 часов коучинга с предпринимателями от владельцев закусочных до совладельцев агрохолдинга</p></li>
			<li><i class="icon-control"></i><p><span>Жесткий контроль -</span> Вас будут держать в жесткой подотчетности и не дадут “слиться”</p></li>
		</ul>

		<div class="promises__author">
			<div class="promises__author-photo" style="background-image: url('img/author-photo.png');"></div>
			<div class="promises__author-text">
				<p>P.S. Профессиональный коуч - это человек, который сможет не только посмотреть со стороны и сказать правду, но еще и помочь определить истинные цели и конкретный план действий по их достижению.</p>

				<p>P.P.S. Лично я уже более 2 лет работаю с индивидуальным коучем и не представляю жизнь без этого. Плачу 300$ за один сеанс и никогда не жалел ни об одном потраченном долларе - это того действительно стоит.</p>
			</div>
		</div>
		<!-- END .promises__author -->
	</div>
</section>
<!-- END .promises -->

{% include "partials/_footer.html" %}
{% endblock %}
