<footer class="footer">
	<div class="inner">
		<div class="footer__phone">
			<a href="/" class="footer__logo"><img src="img/logo-header.png" alt=""></a>

			<ul>
				<li><p>Заботливая служба поддержки:</p></li>
				<li><a href="tel:74951338224">+38 044-221-32-24</a></li>
				<li><a href="tel:380442213224">+7 495-133-82-24</a></li>
			</ul>
		</div>
		<!-- END .footer__phone -->

		<div class="footer__contact">
			<p>Читайте нас в социальных сетях:</p>
			<ul>
				<li><a href="#"><i class="icon-fb"></i></a></li>
				<li><a href="#"><i class="icon-telegram"></i></a></li>
				<li><a href="#"><i class="icon-youtube"></i></a></li>
				<li><a href="#"><i class="icon-vk"></i></a></li>
				<li><a href="#"><i class="icon-insta"></i></a></li>
			</ul>
			<p class="copy">© <a href="https://www.goldcoach.ru" target="_blank">GoldCoach.ru</a> 2013-2018</p>

			<a href="#">Соглашение на обработку персональных данных</a>
			<a href="#">Отказ от ответственности</a>
			<a href="#">О компании GoldCoach</a>
		</div>
	</div>
</footer>