<div class="hiro">
	<div class="hiro__info">
		<h1><span class="shape-bordered"><span class="shape-text">Специальное предложение</span></span> <br>для участников мастер-класса “ТРЕУГОЛЬНИК БАЛАНСА”</h1>

		<div class="hiro__date">
			<p>Действует до 16.04.2018</p>
		</div>

		<div class="timer">
			<div class="shape-bordered colored">
				<span class="shape-text">
					<div class="t-days"></div>:
					<div class="t-hours"></div>:
					<div class="t-mins"></div>:
					<div class="t-sec"></div>
				</span>
			</div>

		</div>
		<!-- END .timer -->
	</div>
</div>
<!-- END .hiro -->

<header class="header">
	<div class="inner">
		<a href="/" class="header__logo">
			<img src="img/logo-header.png" alt="Gold Coach Company Logo">
		</a>

		<div class="header__phone">
			<i class="icon-phone"></i>

			<ul class="list-contact">
				<li><a href="tel:+74951338224"><span>+7</span> 495-133-82-24</a></li>
				<li><a href="tel:+380442213224"><span>+38</span> 044-221-32-24</a></li>
			</ul>
		</div>
	</div>
</header>
<!-- END .header -->

